* {
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Nanum Gothic Coding', monospace;
    white-space: pre-line;
}

body {
    background-color: #203030;
    overflow-x: hidden;
}

.title {
    font-size: 4vw;
    width: 100%;
    height: 50vh;
    color: #dddede;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 101;
}

.title h1 {
    font-size: 6vw;
    font-weight: 600;
}

.topnav {
    overflow: hidden;
    background-color: #37383444;
}

/* Style the links inside the navigation bar */
.topnav a {
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 600;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 6vw;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}