@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body {
    background-color: #292936;
    scroll-behavior: smooth;
    margin: 0;
}

.container {
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    color: #ffff;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 90vh 100vh 100vh 100vh;

    padding: 10vh;
    overflow-x: hidden;

}

.container div {
    padding: 10px;
    width: 100%;
}

.header {
    grid-column: span 2;
    display: flex;
    text-align: right;
    font-size: 3vh;
    font-weight: bolder;
}

.Signature {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 5vh;
    margin-left: -125vh;
}

.toolbar a {
    margin-right: 50px;
}

.intro-text {
    margin-top: 10vh;
}

.fade-in-text-1 {
    width: 39ch;
    animation: fadeIn 1s 0s linear 1 normal both;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 1.5em;
}

.fade-in-text-2 {
    width: 39ch;
    font-size: 2em;
    line-height: 1.6;
    animation: fadeIn 1s 0.8s linear 1 normal both;
}

.fade-in-text-3 {
    width: 75ch;
    line-height: 200%;
    animation: fadeIn 1s 1.8s linear 1 normal both;
}

.intro-picture {
    display: flex;
    align-items: center;
    margin-left: 10vh;
    margin-top: -4vh;
}

.intro-picture img {
    border-radius: 50%;
    border: 5px solid #4ba36b;
}

.experience,
.about-me,
.connect {
    grid-column: span 2;
    /* Span across both columns */
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}