#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.left-side-panel {
  min-width: 350px;
  max-width: 40%;
  background-color: #111211;
  color: white;
}

.text-section {
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.text-section:hover {
  color: #ee2222;
}

.icon:hover {
  color: #ee2222;
}

.right-side-panel {
  background-color: #111211;
  color: white;
}

.about-me {
  border: 2px solid white;
  border-radius: 15px;
}

.about-me:hover {
  background-color: #222222;
  border-color: #ee2222;
}

.experience {
  border: 2px solid white;
  border-radius: 15px;
}

.experience:hover {
  background-color: #222222;
  border-color: #ee2222;
}

.projects {
  border: 2px solid white;
  border-radius: 15px;
}

.projects:hover {
  background-color: #222222;
  border-color: #ee2222;
}